<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/estilos.css">
    <title>Diseño multimedia</title>
</head>
<body>
    <div class="parte-uno">
        <div class="titulo_principal">
            <h1>Diseño <span>Multimedia</span></h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./nosotros.html">NOSOTROS</a></li>
                <li><a href="./servios.html">SERVICIOS</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
    <section class="parte-tres">
        <div class="subscribete" >
            <h2>Subscribete a nuestro boletin</h2>
        </div>
        <div class="campo">
            <input type="email" placeholder="Ingrese el email....">
            <button>subscribete</button>
        </div>
    </section>
    <section class="contacto">
        <div class="parte1-contacto">
            <h2>Contacto</h2>
            <br>
            <div class="caja-texto">
                <h2>Nombre</h2>
                <input class="inputs" type="text" placeholder="Ingresa tu nombre...">
 
            </div>
            <div class="caja-texto">
                <h2>Email</h2>
                <input class="inputs" type="email" placeholder="Ingresa tu email...">
            </div>
            <div class="caja-texto">
                <h2>Telefono</h2>
                <input class="inputs" type="number" placeholder="Ingresa tu telefono...">

            </div>
            <div class="caja-texto">
                <h2>Numero</h2>
                <input class="inputs" type="number" placeholder="Ingresa tu numero celular...">

            </div>
            <div class="caja-texto">
                <h2>Mensaje </h2>
                <input class="Mensaje" type="text" placeholder="">

            </div>
            <button class="boton-contatco">Enviar</button>
        </div>
        <div class="dos">
            <div class="color">
                <h2>Que hacemos</h2>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi consectetur tempora eligendi error quibusdam distinctio consequatur voluptate odit, temporibus, quod at? Id exercitationem, harum totam neque nisi quod iste commodi!</p>
            </div>
            <img class="mapa" src="../assets/img/mapaGoogle.png" alt="">
        </div>
    </section>    <footer>
        <p>Graphel Desarrollo Web, Copyrigth &copy; 2017</p>
    </footer>    
</body>
</html>