<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/estilos.css">
    <title>Diseño multimedia</title>
</head>
<body>
    <div class="parte-uno">
        <div class="titulo_principal">
            <h1>Diseño <span>Multimedia</span></h1>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./nosotros.html">NOSOTROS</a></li>
                <li><a href="./servios.html">SERVICIOS</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
    <section class="parte-tres">
        <div class="subscribete" >
            <h2>Subscribete a nuestro boletin</h2>
        </div>
        <div class="campo">
            <input type="email" placeholder="Ingrese el email....">
            <button>subscribete</button>
        </div>
    </section>
    <section class="parte1-nosotros">
        <div class="uno">
            <h2>Nosotros</h2>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, possimus ipsam. Voluptatum nihil distinctio eos dolorem. Aut error debitis, modi ullam expedita, sequi exercitationem ea quas quisquam repellat molestias eos pariatur accusamus ipsa dolorum sint. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque nihil unde quisquam? Qui quasi nobis facilis dolore placeat! Dolores voluptatem, architecto quisquam minima dolore voluptatum ab dolor, quibusdam suscipit dicta temporibus expedita dolorem ipsum et vitae id laborum minus perferendis autem ipsam alias cum, rerum eum. Beatae facere maiores ut.</p>
            <br>
            <p class="cuadro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus debitis, voluptates obcaecati consectetur dignissimos numquam voluptatum perspiciatis? Vitae vel libero eaque cupiditate, unde illum fugiat nihil, excepturi architecto ex voluptatem? Repellat, autem! Sint deleniti inventore error, quidem nisi sequi nam nemo quos eaque placeat doloribus animi sapiente, nobis vel dolore?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis commodi possimus sint, natus, dicta provident aliquam temporibus mollitia hic deleniti est molestias ipsum repellendus quos! Mollitia ex ut quae aspernatur.
            </p>
            
            <img class="img-nosotros" src="../assets/img/891.jpg" alt="">
        </div>
        <div class="dos">
            <div class="color">
                <h2>Que hacemos</h2>
                <br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi consectetur tempora eligendi error quibusdam distinctio consequatur voluptate odit, temporibus, quod at? Id exercitationem, harum totam neque nisi quod iste commodi!</p>
            </div>
        </div>

    </section>
    <footer>
        <p>Graphel Desarrollo Web, Copyrigth &copy; 2017</p>
    </footer>
</body>
</html>